@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("/public/Roboto-VariableFont_wdth,wght.ttf") format(truetype);
}

@theme {
  --color-bg-primary: #fff;
  --color-fg-primary: #0f0f0f;
  --color-dark-blue: #065fd4;
  --color-light-blue: #dffaff;
  --color-grey-f8: #f8f8f8;
  --color-grey-e8: #e8e8e8;
  --color-grey-d8: #d8d8d8;
  --color-grey-a8: #a8a8a8;
  --color-grey-31: #313131;
  --color-grey-21: #212121;
  --color-border-clr: rgba(0, 0, 0, 0.2);
  --color-border-clr-alt: #303030;
  --color-bg-primary-low-op: rgba(255, 255, 255, 0.9);
  --font-roboto: "Roboto", "Arial", sans-serif;
  --spacing-page-w: min(90vw, 1200px);
  --shadow-inset: inset 0 0 2px 1px;
}

@utility transition-button {
  transition-property: border-color;
  transition-timing-function: ease;
  transition-duration: 300ms;
  border: 1px solid transparent;

  &:active {
    transition-duration: 0ms;
  }
}
